body{
  background-color:	#8a2be2:
}

h2 {
/* background-color: #7dc3c5; */
text-align: center;
margin-top: 100px;
}

img {
  transform: scale(1.2);
  height: 600px;
  width: 800px;

  margin-top: 100px;
}

table, td, th {
  margin-left: 70px;
  margin-top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

/* ตารางทะเบียนฝั่งซ้าย */
.view {
  border: 1px solid black;
  text-align: center;
}

.name1 {
  border: 1px solid black;
  width: 250px;
  height: 50px;
  text-align: center;
}

.check {
  font-size: 15px;
  border: 1px solid black;
  width: 100px;
  height: 800;
  text-align: center;
}

.status {
  border: 1px solid black;
  width: 80px;
  height: 50px;
  text-align: center;
  padding: 2 em;
   margin: -2 em;
}

.number {
  border: 1px solid black;
  width: 70px;
  height: 30px;
  text-align: center;
}

.accid {
  border: 1px solid black;
  width: 250px;
  height: 50px;
  text-align: center;
}
/* ---------------ปุ่ม-------------- */
.but {
  transition-duration: 0.3s;
}

.but:hover {
  background-color: #7dc3c5;
  /* Green */
  color: white;
}

button {
  background-color: #EBF5FF;
  color: #4312AE;
  border: 1px solid black;
  box-shadow: 1px 1px 1px #999999;
}

button:hover, button:focus, button:active {
  /* swap colors */
  color: #EBF5FF;
  background-color: #4682B4;
  cursor: pointer;
  /* displays a hand */
}

.submit {
margin-top: 20px;
/* margin-bottom: 20px; */
  font-size: 15px;
  margin-left: 50px;
  margin-right: 70px;
  width: 80px;
  height: 40px;
  background-color: #EBF5FF;
  color: #000000;
  border: 1px solid #DCDCDC;
  box-shadow: 2px 2px 2px #999999;
  /* border-radius: 1em; */
}
.submitc{
  margin-top: 20px;
  /* margin-bottom: 20px; */
    font-size: 15px;
    margin-right: 100px;
    margin-left: 0px;
    width: 80px;
    height: 40px;
    background-color: #EBF5FF;
    color: #000000;
    border: 1px solid #DCDCDC;
    box-shadow: 2px 2px 2px #999999;
    /* border-radius: 1em; */
}
/* -----------------------สทร ฝั่งขวา------------------- */
.textid {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  width: 600px;
  right: 210px;
  top: 100px;
  color: white;
  font-size: 18px;
  padding-left: 18px;
  padding-right: 20px;
  color: black;
}
.textname{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 215px;
  right: 495px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  color: black;
  text-align: left;
}
.textdob{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  position: absolute;
  top: 275px;
  right: 695px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: black;
  text-align: left;
}
.textmname{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 350px;
  right: 755px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
  color: black;
  text-align: left;
}
.textmid{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 350px;
  right: 550px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
  color: black;
  text-align: left;
}
.textfname{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 415px;
  right: 755px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
  color: black;
  text-align: left;
}
.textfid{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 415px;
  right: 550px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
  color: black;
  text-align: left;
}
.textadress{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  position: absolute;
  top: 525px;
  right: 145px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
  color: black;
  text-align: left;
}
label{

}
input[type="text"] {
    border: 1px;
    color: black;
    color: 	#b22222;
}

/* --------------------Bar---------------- */
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 15px;
}

li {
  float: left;
}

li a {
  margin: 0;
  padding: 0;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 60px;
  background-color: #dddddd;
}
